.icon-32 { height:32px; width:32px}
.icon-24 { height:24px; width:24px}

.icon-arrow-up { background-image: url(arrow-up.gif) !important; background-repeat: no-repeat; }
.icon-arrow-down { background-image: url(arrow-down.gif) !important; background-repeat: no-repeat; }
.icon-save { background-image: url(save.gif) !important; background-repeat: no-repeat; }

.silk-accept { background-image: url(../images/icon/accept.png) !important; background-repeat: no-repeat; }
.silk-add { background-image: url(../images/icon/add.gif) !important; background-repeat: no-repeat; }
.silk-application-go { background-image: url(../images/icon/application_go.png) !important; background-repeat: no-repeat; }
.silk-delete { background-image: url(../images/icon/delete.gif) !important; background-repeat: no-repeat; }
.silk-printer { background-image: url(../images/icon/printer.png) !important; background-repeat: no-repeat; }
.silk-page-excel { background-image: url(../images/icon/page_excel.png) !important; background-repeat: no-repeat; }
.silk-key-add { background-image: url(../images/icon/key_add.png) !important; background-repeat: no-repeat; }